.container {
  max-width: 1140px;
  margin: 0 auto;
}

.form {
  padding: 41px 40px 56px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffff;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -ms-flex-item-align: baseline;
      align-self: baseline;
  position: relative;
}

.form::before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 27px;
  top: 0%;
  left: 0%;
  background: url("../../img/arrow 2.png");
  margin: 50% 0px 0px -15%;
}

.form p {
  text-align: center;
  text-transform: uppercase;
}

.form__text-1 {
  color: #f0713d;
  font-size: 21px;
  font-family: Regular;
  font-weight: 700;
  margin: 0 -25px;
  padding: 0px 0px 14px 0px;
}

.form__text-2 {
  font-size: 21px;
  font-family: Regular;
  font-weight: 700;
  padding: 0px 0px 6px 0px;
}

.form__text-3 {
  font-size: 21px;
  font-family: Regular;
  padding: 0px 0px 15px 0px;
}

.form__input {
  display: block;
  border-bottom: 1px solid #e6ddbc;
  color: #8b8b8b;
  padding: 15px 20px;
}

.form__label {
  font-size: 14px;
  font-family: Regular;
}

.form__checkbox {
  position: relative;
  margin: 0px 0px 23px 0px;
}

.form__checkbox-1 {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
}

.form__checkbox-1:checked + .header__content__checkbox-2::before {
  background: url("../../img/jackdaw.png") center no-repeat, #ffff;
}

.form__checkbox-2 {
  display: block;
  padding-left: 35px;
  font-size: 14px;
}

.form__checkbox-2::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #e6ddbc;
  background-color: #ffff;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  border-radius: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__button {
  padding: 20px 65px;
  border: 1px solid #ff9d08;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd121), to(#f39000));
  background: linear-gradient(180deg, #ffd121, #f39000);
  border-radius: 53px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.header {
  padding: 55px 0px 130px 0px;
  background: url("../../img/man.png"), url("../../img/cube.png"), -webkit-gradient(linear, left top, left bottom, from(#f3f5f9), to(#d0d9e6));
  background: url("../../img/man.png"), url("../../img/cube.png"), linear-gradient(180deg, #f3f5f9 0%, #d0d9e6 100%);
  background-repeat: no-repeat;
  background-position: 0% 100%, 117% 102%;
  background-size: 20%, 38%, cover;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content__slash {
  padding: 0px 70px 0px 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fcc71c;
  font-size: 60px;
  font-weight: 900;
}

.header__content__text {
  font-size: 18px;
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__content__block_2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__content__phone {
  margin: 0px 0px 15px 0px;
  color: #000;
  font-weight: 700;
  font-size: 24px;
}

.header__content__link {
  color: #f0713d;
  font-size: 14px;
}

.header__content__mainunit {
  margin: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content__title {
  max-width: 50%;
  font-size: 30px;
  font-weight: 800;
}

.header__content__subtitle {
  padding: 40px 0px 0px 28%;
  color: #f0713d;
  font-size: 20px;
}

.header__content__list {
  padding: 20px 0px 0px 28%;
}

.header__content__list__item {
  position: relative;
  padding: 0px 0px 15px 20px;
  font-size: 18px;
}

.header__content__list__item::before {
  background: url("../../img/arrow.png");
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px 0px 0px 0px;
}

.statistic {
  background: url("../../img/fonts2.png"), #b6c4d8;
}

.statistic__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistic__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 264px;
          flex: 0 0 264px;
  padding: 62px  0% 0% 0%;
}

.statistic__num {
  text-align: center;
  padding: 0px 0px 22px 0px;
  font-size: 48px;
  font-family: Regular;
  color: #ffffff;
  border-bottom: 3px solid #f0713d;
}

.statistic__description {
  padding: 22px 0px 0px 0px;
  font-size: 18px;
  font-family: Medium;
  color: #ffffff;
  text-align: center;
}

.why {
  padding: 80px 0px 80px 0px;
  background-color: #eef3f7;
}

.why__title {
  font-weight: 800;
  text-align: center;
  font-family: Regular;
  font-size: 36px;
}

.why__subtitle {
  padding: 32px 0px 0px 0px;
  text-align: center;
  font-size: 24px;
  font-family: Medium;
}

.why__block {
  padding: 60px 0px 69px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 262px;
          flex: 0 0 262px;
}

.why__photo {
  display: block;
  margin: 0 auto;
}

.why__text {
  padding: 40px 0px 0px 0px;
  font-size: 18px;
  font-family: Regular;
  text-align: center;
}

.why__subtitle_2 {
  font-size: 24px;
  font-family: Regular;
  text-align: center;
}

.return {
  background-color: #fff;
}

.return__form {
  width: 35%;
}

.return__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px 30px;
}

.return__title {
  text-align: center;
  font-size: 36px;
  font-family: Regular;
  font-weight: 800;
  margin: 0px 0px 70px 0px;
}

.return__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.return__subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #f29301;
  padding: 60px 0px 40px 0px;
}

.return__subtitle_1 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding: 0px 0px 90px 0px;
}

.list {
  list-style: none;
  padding: 0;
  counter-reset: li;
}

.list__item {
  margin: 0px 0px 60px 0px;
  position: relative;
  padding: 0px 0px 0px 60px;
  font-size: 18px;
}

.list__item::before {
  content: counter(li);
  counter-increment: li;
  border: 2px solid #f29301;
  border-radius: 100%;
  display: block;
  padding: 12px 15px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
}

.sublist__item {
  position: relative;
  padding: 0px 0px 0px 10px;
  margin: 10px 0px 0px 0px;
}

.sublist__item::before {
  content: "";
  border-radius: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 3px;
  height: 3px;
  background: #f29301;
}

.help {
  background-color: #eef3f7;
}

.help__title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding: 100px 0px 70px 0px;
}

.help__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 0px 100px 0px;
}

.help__item {
  padding: 20px 0px 15px 15px;
  border-left: 3px solid #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 168px;
          flex: 0 0 168px;
  margin: 0 117px 25px 0;
  font-size: 18px;
}

.reviews__card {
  max-width: 74%;
}

.reviews__title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding: 110px 0px 60px 0px;
}

.reviews__photo {
  padding: 0px 0px 20px 45%;
}

.reviews__name {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #f39804;
  padding: 0px 0px 35px 0px;
}

.reviews__subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 0px 0px 15px 0px;
}

.reviews__price {
  color: #f39804;
}

.reviews__text_1 {
  text-align: center;
  font-size: 18px;
  padding: 0px 0px 30px 0px;
}

.reviews__text_2 {
  text-align: center;
  font-size: 18px;
  font-family: Regular;
  padding: 0px 0px 120px 0px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.money {
  background-color: #eff5f9;
}

.money__title {
  padding: 90px 0px 40px 0px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.money__subtitle {
  padding: 0px 0px 40px 0px;
  font-size: 24px;
  font-family: Regular;
  text-align: center;
}

.money__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 90px 0px;
}

.money__company {
  height: 180px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 30px 0px;
}

.protection__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0px 0px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.protection__columns {
  padding: 0px 80px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.protection__picture {
  padding: 0px 20px 0px 0px;
}

.protection__title {
  padding: 0px 0px 18px 0px;
  font-size: 21px;
  font-family: Regular;
  font-weight: bold;
}

.protection__text {
  font-family: Regular;
  font-size: 18px;
}

.protection__block_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 130px 0px 40px 0px;
}

.protection__logo {
  padding: 0px 20px 0px 0px;
}

.protection__text_1 {
  font-size: 36px;
  font-family: Regular;
  font-weight: bold;
}

.protection__block_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 60px 0px;
}

.protection__item {
  padding: 0px 70px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 219px;
          flex: 0 0 219px;
}

.protection__text_2 {
  padding: 20px 0px 0px 0px;
}

.protection__button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0px 150px 0px;
}
/*# sourceMappingURL=style.css.map */